<div class="jumbotron text-center">
        <div class="overlay"></div>
        <div class="background-image"></div>
        <div class="caption">
            <h1>Saved Articles</h1>
            <p>Your Saved NBA Articles</p>
        </div>
    </div>
<div class="container-fluid article-container">
    {{#if savedArticle}}
    {{#each savedArticle}}
    <div class="card articleCard">
        <div class="card-header">
            <h3 class="title" data-id={{this._id}} data-saved={{this.saved}}>
                {{#if this.pic}}
                <img class="article-pic" src="{{this.pic}}" alt="No Image">
                {{/if}}
                <a href={{this.link}} class="article-link">
                    {{this.title}}
                </a>
                
            </h3>
        </div>
        <div class="card-body">
            <p class="summary"> <strong>Summary:</strong> {{this.summary}}</p>
            <p class="listOfComments"> <strong>Comments:</strong> {{this.comment.comment}}</p>
            <a class="btn btn-danger delete">
                Delete Article
            </a>
            <a class="btn comment" data-toggle="modal" data-target="#commentModal">
                Leave Comment
            </a>
        </div>
        <div id="commentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
                        <h4 class="modal-title" id="commentModalLabel">Leave a comment</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="commentBody">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="closeButton" data-dismiss="modal">Close</button>
                        <button type="button" class="btn" id="saveChanges" data-id={{this._id}}>Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
    <div class="card articleCard">
        <div class="card-header">
            You Have No Saved Articles
        </div>
    </div>
    {{/if}}

</div>
